<a href="https://colab.research.google.com/github/jmendozaore/Area51-Lecturas/blob/master/EjemploTitanicData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
datos=pd.read_csv('titanic.csv')

In [44]:
datos.shape
#datos.columns

(891, 8)

In [6]:
datos.head()

   superviviente  clase_billete  ... precio_billete  puerto_salida
0              0              3  ...         7.2500              S
1              1              1  ...        71.2833              C
2              1              3  ...         7.9250              S
3              1              1  ...        53.1000              S
4              0              3  ...         8.0500              S

[5 rows x 8 columns]

In [0]:
from sklearn import tree

In [0]:
columnas_categoricas=['genero','puerto_salida']

In [0]:
datos_categoricos=pd.get_dummies(datos[columnas_categoricas])

In [11]:
datos_categoricos.head()

   genero_hombre  genero_mujer  ...  puerto_salida_Q  puerto_salida_S
0              1             0  ...                0                1
1              0             1  ...                0                0
2              0             1  ...                0                1
3              0             1  ...                0                1
4              1             0  ...                0                1

[5 rows x 5 columns]



```
<h2> preprocessing.LabelBinaries Crea y transforma variables en binarias </h2>

In [0]:
pasajeros =(pd.concat([datos.drop(columnas_categoricas, axis=1),datos_categoricos], axis=1))

In [0]:
pasajeros.edad=pasajeros.edad.fillna(pasajeros.edad.mean())

In [0]:
pasajeros.head()

In [0]:
arbol=tree.DecisionTreeClassifier()

In [29]:
arbol.fit(pasajeros.drop('superviviente', axis=1),pasajeros.superviviente)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [30]:
!pip install graphviz

Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (0.10.1)

In [0]:
import graphviz

In [0]:
def dibujar_arbol(arbol):
  dot_data = tree.export_graphviz(arbol, out_file=none, feature_names=pasajeros.drop('superviviente',axis=1).columns, filled=True, impurity=False, rounded=True, special_characters=True)
  graph=graphviz.Source(dot_data)
  graph.format='png'
  graph.render('arbol', view=True)

In [0]:
tree.export_graphviz(arbol, out_file='arbol.dot')

In [0]:
with open('arbol.dot') as f:
  dot_graph=f.read()
graphviz.Source(dot_graph)

In [0]:
#dict(zip(pasajeros.drop('superviviente',axis=1),arbol.feature_importances_))

In [0]:
from sklearn.model_selection import cross_val_score

In [54]:
cross_val_score(arbol,pasajeros.drop('superviviente',axis=1),pasajeros.superviviente,scoring='roc_auc', cv=10).mean()
# El resultado muestra el porcerntaje exitos del modelo

0.7679851738675267

In [60]:
arbol_simple=tree.DecisionTreeClassifier(max_depth=12)
arbol_simple.fit(pasajeros.drop('superviviente', axis=1), pasajeros.superviviente)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=12,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [63]:
cross_val_score(arbol_simple,pasajeros.drop('superviviente',axis=1),pasajeros.superviviente,scoring='roc_auc', cv=10).mean()
# El resultado muestra el porcerntaje exitos del modelo

0.7812605324958267