<a href="https://colab.research.google.com/github/jmendozaore/Area51-Lecturas/blob/master/Ejemplo3ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
pelis = pd.read_csv("datos_peliculas.csv")
pelis.shape
pelis.head()

                 pelicula   año  ...  comentarios  seguidores_agregados
0                 13 Sins  2014  ...          636             1120000.0
1          22 Jump Street  2014  ...          186            12350000.0
2          3 Days to Kill  2014  ...           47              483000.0
3  300: Rise of an Empire  2014  ...          590              568000.0
4       A Haunted House 2  2014  ...         1082             1923800.0

[5 rows x 12 columns]

In [0]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [0]:
variable_objetivo_clasificacion='genero'
variable_independientes=pelis.drop(variable_objetivo_clasificacion,axis=1).columns
x_train,x_test,y_train,y_test=train_test_split(pelis[variables_independientes],pelis[variable_objetivo_clasificacion], test_size=.3)

In [0]:
y=pelis[variable_objetivo_clasificacion]
x=pelis[variable_independientes].drop('pelicula', axis=1)

In [0]:
x_train

In [71]:
from sklearn.feature_selection import SelectKBest
best=SelectKBest(k=6) # K numnero de variables que contribuyen
X_new =best.fit_transform(x,y)
X_new.shape
selected=best.get_support(indices=True)
print(x.columns[selected])
selected_feature=x.columns[selected]

Index(['año', 'ratings', 'ventas', 'presupuesto', 'secuela',
       'seguidores_agregados'],
      dtype='object')

In [0]:
clasificador_knn=KNeighborsClassifier(n_neighbors=30,weights='uniform')# El numero de "neighboirs" como buscar los vecinos mas proximos
clasificador_knn.fit(x_train[selected_feature],y_train)
preds= clasificador_knn.predict(x_test[selected_feature])

In [0]:
from sklearn.metrics import f1_score

In [73]:
f1_score(y_test, preds, average='micro') # debe ser valor cercano a 1, debemos obetener un valor de 55% o mas

0.2903225806451613